@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500&family=Dancing+Script&display=swap");
body {
  font-family: "Advent Pro", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* ************************** NAVBAR **************************** */
nav {
  overflow: hidden;
  background-color: #626b7c;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

header li {
  float: right;
  font-size: 1.2em;
}

header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  float: left;
}

/* ********************************* IMAGE PRINCIPALE ***************************** */
#imagePrincipale {
  padding-top: 60px;
  background: url(../assets/images/image_principale.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 900px;
}
#cv{
  padding: 20px 0px 0px 0px;
  background: url(../assets/images/image_tersiare.jpg) no-repeat fixed 25% 25%;
  background-size: cover;
  height: 1300px;
  background-size: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 1px 3px 2px black;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #FFFAE1;
  box-shadow: 1px 3px 2px black;
}

h3 {
  color: antiquewhite;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  font-size: 3em;
  text-shadow: 1px 3px 2px black;
}

/* ************************* PRESENTATION *************************** */
.image {
  min-width: 60px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  position: relative;
}

.image.active {
  flex-grow: 100;
  max-width: 600px;
  margin: 0px;
  border-radius: 7px;
  background-size: auto 100%;
}

.image:not(.active) {
  flex-grow: 1;
  border: 5px;
}

.portfolio {
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  margin: 4rem auto;
  justify-content: center;
}

#presentation {
    padding: 20px 0px 0px 0px;
    background: url(../assets/images/image_secondaire.jpg) no-repeat fixed 25% 25%;
    height: 800px;
    background-size: 100%;
}

#texteIntro {
  padding: 0px 20%;
}

.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
}

.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.8s ease-in-out;
}

ul img {
  height: 20px;
}
.image_cv{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 60rem;
  width: auto;
  opacity: 0.8;
}
.photo_profil{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: auto;
  margin-bottom: auto;
  opacity: 0.8;
}

/* *************** TOURISME ****************** */
.articlegenerale {
  display: flex;
  flex-direction: column;
  margin: 12rem 12rem;
}

.articlegenerale .article1 {
  align-self: flex-start;
}

.articlegenerale .article1 {
  align-self: flex-end;
}

.imagearticle img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
  height: 15rem;
  width: auto;
}